<div class="container">
    <div class="texto">
        <h1>Contactanos</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Tú opinion es importante para nosotros, por lo que te agradeceríamos si tienes una queja o sugerencia
                proporcionarnos los siguientes datos y tus comentarios en los cambos de aquí abajo 😊
            </p>
            <div class="row g-3">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Ingrese su primer nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Ingrese su primer apellido</label>
                  <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
                </div>
            </div>
            <div class="mb-3">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Escribenos tus sugerencias aquí 👇</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-info">Enviar</button>
            </div>
      </div>
</div>